#wb-bnr {
  width: 100%;
}

.base-header-list-container {
  display: flex;
  justify-content: right;
  align-items : center;
  height: 100px;
}

.base-header-list {
  display: flex;
  justify-content: right;
  padding-inline-start: 0;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 10px;
}

#wb-lng li {
  padding: 0;
}

.lang-toggle, .lang-toggle:visited {
  color: #0f7d21;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Noto Sans",sans-serif;
  font-weight: bold;
}

.lang-toggle:hover {
  text-decoration: underline;
}

header .brand {
  line-height: 100px;
}

header .brand img {
  max-height: revert;
  min-height: 40px;
  max-width: 200px;
  margin-bottom: 0;
}

#wb-bnr+hr, .header-hr-bottom {
  border-top: 10px solid #515AA9;
}

.header-hr-top {
  border-top: 10px solid #0F7D21;
}

.header-hr-top, #wb-bnr+hr, .header-hr-bottom {
  margin: 0;
}

.geoca-main-footer {
  background-color: #2B3034;
  min-height: 40px;
  margin-top: 40px;
}

.footer-flex-container,
.page-credits-container,
.page-credits {
  display: flex;
}

.footer-logo {
  margin-left: auto;
}

.page-credits-container {
  align-items : center;
}

.page-credits {
  margin-bottom: 0;
}

.page-credits dd,
.page-credits dt {
  margin-bottom: 0;
}

#wb-info .gc-sub-footer img {
  vertical-align: revert;
}
